.image{
  height: 400px;
}

p
{
      max-height: 400px;
      background-size: cover;
      margin: 10px 0 25px 0;
      width: 600px;
  }

.green-background{
  background-color: #c2e1cb;
}

img{
  height: 400px;
  margin: 0 auto;
  width: 600px;
}

audio
{
  margin: 30px auto;
  width: 600px;
}


.container {
margin: 10px 0 25px 0;
position: relative;
padding: 0 auto
}

h1 {
font-family: 'Product Sans', Arial, sans-serif;
}
