.image{
  height: 400px;
}

p
{
      max-height: 400px;
      background-size: cover;
      position:
  }

.green-background{
  background-color: green;
}

img{
  height: 400px;
  margin: auto;
  width: 40%;
}


.container {
margin: 110px auto;
position: relative;
padding: 0 auto
}

h1 {
font-family: 'Product Sans', Arial, sans-serif;
}
